log_level: INFO

storage:
  storage_path: /root/nbco/qdrant/storage
  snapshots_path: /root/nbco/qdrant/snapshots
  on_disk_payload: true

service:
  host: 127.0.0.1
  http_port: 6333
  grpc_port: 6334
  enable_cors: false
  enable_tls: false

cluster:
  enabled: false

telemetry_disabled: true
